In [1]:
import pandas as pd 
import numpy as np

In [2]:
first_df = pd.read_csv("static\deliveries2023.csv")
second_df = pd.read_csv("static\matches2023.csv")

first_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\m'
C:\Users\kshar\AppData\Local\Temp\ipykernel_2616\3735529867.py:1: SyntaxWarning: invalid escape sequence '\d'
  first_df = pd.read_csv("static\deliveries2023.csv")
C:\Users\kshar\AppData\Local\Temp\ipykernel_2616\3735529867.py:2: SyntaxWarning: invalid escape sequence '\m'
  second_df = pd.read_csv("static\matches2023.csv")

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.4,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.5,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
second_df.tail()

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,winner,winner_runs,winner_wickets,match_type
69,2023,Royal Challengers Bangalore,Gujarat Titans,2023/05/21,70,M Chinnaswamy Stadium,Bengaluru,Gujarat Titans,field,Shubman Gill,Nitin Menon,VK Sharma,VM Dhokre,J Srinath,Gujarat Titans,NaN,6.0,Group
70,2023,Chennai Super Kings,Gujarat Titans,2023/05/23,71,MA Chidambaram Stadium,Chennai,Gujarat Titans,field,RD Gaikwad,AK Chaudhary,CB Gaffaney,VK Sharma,M Nayyar,Chennai Super Kings,15.0,NaN,Qualifier
71,2023,Mumbai Indians,Lucknow Super Giants,2023/05/24,72,MA Chidambaram Stadium,Chennai,Mumbai Indians,bat,Akash Madhwal,BNJ Oxenford,VK Sharma,AK Chaudhary,V Narayan Kutty,Mumbai Indians,81.0,NaN,Eliminator
72,2023,Gujarat Titans,Mumbai Indians,2023/05/26,73,Narendra Modi Stadium,Ahmedabad,Mumbai Indians,field,Shubman Gill,Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,J Srinath,Gujarat Titans,62.0,NaN,Qualifier
73,2023,Gujarat Titans,Chennai Super Kings,2023/05/29,74,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,field,DP Conway,Nitin Menon,RJ Tucker,J Madanagopal,J Srinath,Chennai Super Kings,NaN,5.0,Final

In [4]:
first_df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [5]:
first_df['total_run'] = first_dataset['runs_off_bat'] + first_dataset['extras']

NameError: name 'first_dataset' is not defined

In [ ]:
first_df[['runs_off_bat', 'extras', 'total_run']]

       runs_off_bat  extras  total_run
0                 0       0          0
1                 0       1          1
2                 0       0          0
3                 1       0          1
4                 0       0          0
...             ...     ...        ...
17858             1       0          1
17859             1       0          1
17860             1       0          1
17861             6       0          6
17862             4       0          4

[17863 rows x 3 columns]

In [ ]:
first_df['match_number'] = first_df['match_id'].rank(method='dense').astype(int)

In [ ]:
first_df['match_number'].nunique()

74

In [ ]:
total_runs = first_df.groupby(['match_id','innings', 'match_number']).sum()['total_run'].add(1).reset_index()

In [ ]:
total_runs

     match_id  innings  match_number  total_run
0     1359475        1             1        179
1     1359475        2             1        183
2     1359476        1             2        192
3     1359476        2             2        147
4     1359477        1             3        194
..        ...      ...           ...        ...
142   1370351        2            72        102
143   1370352        1            73        234
144   1370352        2            73        172
145   1370353        1            74        215
146   1370353        2            74        172

[147 rows x 4 columns]

In [ ]:
match_df = second_df.merge(total_runs[['match_number','total_run']],left_on='match_number',right_on='match_number')

In [ ]:
match_df

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,winner,winner_runs,winner_wickets,match_type,total_run
0,2023,Chennai Super Kings,Gujarat Titans,2023/03/31,1,Narendra Modi Stadium,Ahmedabad,Gujarat Titans,field,Rashid Khan,Nitin Menon,HAS Khalid,A Bengeri,J Srinath,Gujarat Titans,NaN,5.0,Group,179
1,2023,Chennai Super Kings,Gujarat Titans,2023/03/31,1,Narendra Modi Stadium,Ahmedabad,Gujarat Titans,field,Rashid Khan,Nitin Menon,HAS Khalid,A Bengeri,J Srinath,Gujarat Titans,NaN,5.0,Group,183
2,2023,Punjab Kings,Kolkata Knight Riders,2023/04/01,2,Punjab Cricket Association IS Bindra Stadium,Chandigarh,Kolkata Knight Riders,field,Arshdeep Singh,BNJ Oxenford,YC Barde,PM Joshi,M Nayyar,Punjab Kings,7.0,NaN,Group,192
3,2023,Punjab Kings,Kolkata Knight Riders,2023/04/01,2,Punjab Cricket Association IS Bindra Stadium,Chandigarh,Kolkata Knight Riders,field,Arshdeep Singh,BNJ Oxenford,YC Barde,PM Joshi,M Nayyar,Punjab Kings,7.0,NaN,Group,147
4,2023,Lucknow Super Giants,Delhi Capitals,2023/04/01,3,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Delhi Capitals,field,MA Wood,AK Chaudhary,NA Patwardhan,M Kuppuraj,DS Manohar,Lucknow Super Giants,50.0,NaN,Group,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,2023,Mumbai Indians,Lucknow Super Giants,2023/05/24,72,MA Chidambaram Stadium,Chennai,Mumbai Indians,bat,Akash Madhwal,BNJ Oxenford,VK Sharma,AK Chaudhary,V Narayan Kutty,Mumbai Indians,81.0,NaN,Eliminator,102
143,2023,Gujarat Titans,Mumbai Indians,2023/05/26,73,Narendra Modi Stadium,Ahmedabad,Mumbai Indians,field,Shubman Gill,Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,J Srinath,Gujarat Titans,62.0,NaN,Qualifier,234
144,2023,Gujarat Titans,Mumbai Indians,2023/05/26,73,Narendra Modi Stadium,Ahmedabad,Mumbai Indians,field,Shubman Gill,Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,J Srinath,Gujarat Titans,62.0,NaN,Qualifier,172
145,2023,Gujarat Titans,Chennai Super Kings,2023/05/29,74,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,field,DP Conway,Nitin Menon,RJ Tucker,J Madanagopal,J Srinath,Chennai Super Kings,NaN,5.0,Final,215
146,2023,Gujarat Titans,Chennai Super Kings,2023/05/29,74,Narendra Modi Stadium,Ahmedabad,Chennai Super Kings,field,DP Conway,Nitin Menon,RJ Tucker,J Madanagopal,J Srinath,Chennai Super Kings,NaN,5.0,Final,172

In [ ]:
match_df['team1'].value_counts()

team1
Chennai Super Kings            18
Punjab Kings                   18
Royal Challengers Bangalore    18
Gujarat Titans                 16
Rajasthan Royals               14
Kolkata Knight Riders          14
Sunrisers Hyderabad            14
Lucknow Super Giants           13
Mumbai Indians                 12
Delhi Capitals                 10
Name: count, dtype: int64

In [ ]:
teams = ['Kolkata Knight Riders', 
         'Chennai Super Kings',
         'Punjab Kings', 
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad',
         'Lucknow Super Giants',
         'Gujarat Titans'
         ]

In [ ]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [ ]:
match_df['team1'].value_counts()

team1
Chennai Super Kings            18
Punjab Kings                   18
Royal Challengers Bangalore    18
Gujarat Titans                 16
Rajasthan Royals               14
Kolkata Knight Riders          14
Sunrisers Hyderabad            14
Lucknow Super Giants           13
Mumbai Indians                 12
Delhi Capitals                 10
Name: count, dtype: int64

In [ ]:
match_df.shape

(147, 19)

In [ ]:
match_df.columns

Index(['season', 'team1', 'team2', 'date', 'match_number', 'venue', 'city',
       'toss_winner', 'toss_decision', 'player_of_match', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'match_type', 'total_run'],
      dtype='object')

In [ ]:
match_df = match_df[['match_number','city','winner','total_run', 'team1', 'team2']]

In [ ]:
match_df.shape

(147, 6)

In [ ]:
second_innings = match_df.merge(first_df,on='match_number')
second_innings

,match_number,city,winner,total_run_x,team1,team2,match_id,season,start_date,venue,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_run_y
0,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1
2,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35603,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35604,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35605,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35606,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
35607,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [ ]:
second_innings = second_innings[second_innings['innings']==2]
second_innings.shape

(17242, 29)

In [ ]:
second_innings.columns

Index(['match_number', 'city', 'winner', 'total_run_x', 'team1', 'team2',
       'match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'total_run_y'],
      dtype='object')

In [ ]:
second_innings['bowling_team'].unique()

array(['Chennai Super Kings', 'Punjab Kings', 'Lucknow Super Giants',
       'Rajasthan Royals', 'Mumbai Indians', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Gujarat Titans',
       'Royal Challengers Bangalore'], dtype=object)

In [ ]:
second_innings['current_Score'] = second_innings_final.groupby('match_id')['total_run_y'].cumsum()
second_innings

C:\Users\kshar\AppData\Local\Temp\ipykernel_23188\2053527836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings['current_Score'] = second_innings_final.groupby('match_id')['total_run_y'].cumsum()

,match_number,city,winner,total_run_x,team1,team2,match_id,season,start_date,venue,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_run_y,current_Score
121,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,182.0
122,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
123,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0
124,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
125,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35603,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
35604,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
35605,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
35606,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
35607,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN

In [ ]:
second_innings.columns

Index(['match_number', 'city', 'winner', 'total_run_x', 'team1', 'team2',
       'match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'total_run_y', 'current_Score'],
      dtype='object')

In [ ]:
second_innings_final = second_innings[['match_number', 'city', 'winner', 'team1', 'team2',
       'match_id', 'innings', 'ball', 'player_dismissed', 
       'batting_team', 'bowling_team', 'runs_off_bat', 'extras', 'total_run_y']]

In [ ]:
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,ball,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y
121,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.1,NaN,Gujarat Titans,Chennai Super Kings,0,0,0
122,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0
123,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.3,NaN,Gujarat Titans,Chennai Super Kings,0,0,0
124,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.4,NaN,Gujarat Titans,Chennai Super Kings,1,0,1
125,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.5,NaN,Gujarat Titans,Chennai Super Kings,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35603,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1
35604,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.3,NaN,Chennai Super Kings,Gujarat Titans,1,0,1
35605,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.4,NaN,Chennai Super Kings,Gujarat Titans,1,0,1
35606,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.5,NaN,Chennai Super Kings,Gujarat Titans,6,0,6
35607,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.6,NaN,Chennai Super Kings,Gujarat Titans,4,0,4

In [ ]:
second_innings_final = second_innings_final.drop_duplicates(subset=['match_number', 'city', 'winner', 'team1', 'team2',
       'match_id', 'innings', 'ball', 'player_dismissed',
       'batting_team', 'bowling_team', 'runs_off_bat', 'extras', 'total_run_y'])

In [ ]:
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,ball,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y
121,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.1,NaN,Gujarat Titans,Chennai Super Kings,0,0,0
122,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0
123,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.3,NaN,Gujarat Titans,Chennai Super Kings,0,0,0
124,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.4,NaN,Gujarat Titans,Chennai Super Kings,1,0,1
125,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.5,NaN,Gujarat Titans,Chennai Super Kings,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35387,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1
35388,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.3,NaN,Chennai Super Kings,Gujarat Titans,1,0,1
35389,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.4,NaN,Chennai Super Kings,Gujarat Titans,1,0,1
35390,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.5,NaN,Chennai Super Kings,Gujarat Titans,6,0,6
35391,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.6,NaN,Chennai Super Kings,Gujarat Titans,4,0,4

In [ ]:
second_innings_final['current_Score'] = second_innings_final.groupby('match_number')['total_run_y'].cumsum()
second_innings_final

C:\Users\kshar\AppData\Local\Temp\ipykernel_23188\3630595341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second_innings_final['current_Score'] = second_innings_final.groupby('match_number')['total_run_y'].cumsum()

,match_number,city,winner,team1,team2,match_id,innings,ball,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score
121,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.1,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0
122,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0
123,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.3,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0
124,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.4,NaN,Gujarat Titans,Chennai Super Kings,1,0,1,1
125,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.5,NaN,Gujarat Titans,Chennai Super Kings,2,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35387,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,159
35388,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.3,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,160
35389,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.4,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,161
35390,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.5,NaN,Chennai Super Kings,Gujarat Titans,6,0,6,167
35391,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.6,NaN,Chennai Super Kings,Gujarat Titans,4,0,4,171

In [ ]:
first_innings = match_df.merge(first_dataset,on='match_number')
first_innings

,match_number,city,winner,total_run_x,team1,team2,match_id,season,start_date,venue,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_run_y
0,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1
2,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,Ahmedabad,Gujarat Titans,179,Chennai Super Kings,Gujarat Titans,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35603,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35604,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35605,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
35606,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
35607,74,Ahmedabad,Chennai Super Kings,172,Gujarat Titans,Chennai Super Kings,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [ ]:
first_innings = first_innings[first_innings['innings']==1]
first_innings.shape

(18366, 29)

In [ ]:
first_innings = first_innings.drop_duplicates(subset=['match_number', 'city', 'winner', 'team1', 'team2', 'match_id', 'innings', 'ball', 'batting_team', 'bowling_team', 'runs_off_bat', 'extras', 'total_run_y'])

In [ ]:
# Group by 'match_number' and find the maximum 'total_run_x' for each match number
max_total_run_x_per_match = first_innings.groupby('match_number')['total_run_x'].max()

# Convert the result to a list
result_list = max_total_run_x_per_match.reset_index().values.tolist()

In [ ]:
result_list

[[1, 179],
 [2, 192],
 [3, 194],
 [4, 204],
 [5, 172],
 [6, 218],
 [7, 163],
 [8, 198],
 [9, 205],
 [10, 122],
 [11, 200],
 [12, 158],
 [13, 205],
 [14, 144],
 [15, 213],
 [16, 173],
 [17, 176],
 [18, 154],
 [19, 229],
 [20, 175],
 [21, 160],
 [22, 186],
 [23, 178],
 [24, 227],
 [25, 193],
 [26, 155],
 [27, 175],
 [28, 128],
 [29, 135],
 [30, 136],
 [31, 215],
 [32, 190],
 [33, 236],
 [34, 145],
 [35, 208],
 [36, 201],
 [37, 203],
 [38, 258],
 [39, 180],
 [40, 198],
 [41, 201],
 [42, 213],
 [43, 127],
 [44, 131],
 [45, 126],
 [46, 215],
 [47, 172],
 [48, 119],
 [49, 140],
 [50, 182],
 [51, 228],
 [52, 215],
 [53, 180],
 [54, 200],
 [55, 168],
 [56, 150],
 [57, 219],
 [58, 183],
 [59, 168],
 [60, 172],
 [61, 145],
 [62, 189],
 [63, 178],
 [64, 214],
 [65, 187],
 [66, 188],
 [67, 224],
 [68, 177],
 [69, 201],
 [70, 198],
 [71, 173],
 [72, 183],
 [73, 234],
 [74, 215]]

In [ ]:
# Convert the result list to a DataFrame with columns 'match_number' and 'max_total_run_x'
target_df = pd.DataFrame(result_list, columns=['match_number', 'max_total_run_x'])

# Merge 'second_inning' with the target DataFrame based on 'match_number'
second_innings_final = pd.merge(second_innings_final, target_df, on='match_number', how='left')

In [ ]:
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,ball,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.1,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.3,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.4,NaN,Gujarat Titans,Chennai Super Kings,1,0,1,1,179
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0.5,NaN,Gujarat Titans,Chennai Super Kings,2,0,2,3,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,159,215
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.3,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,160,215
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.4,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,161,215
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.5,NaN,Chennai Super Kings,Gujarat Titans,6,0,6,167,215
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,14.6,NaN,Chennai Super Kings,Gujarat Titans,4,0,4,171,215

In [ ]:
# Convert the 'ball' column to string and split it into two columns
second_innings_final[['over', 'balls']] = second_innings_final['ball'].astype(str).str.split('.', expand=True)

# Convert 'over' and 'balls' columns to integers
second_innings_final['over'] = second_innings_final['over'].astype(int)
second_innings_final['balls'] = second_innings_final['balls'].astype(int)

In [ ]:
second_innings_final = second_innings_final.drop(['ball'], axis=1)
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,159,215,14,2
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,160,215,14,3
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,161,215,14,4
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,6,0,6,167,215,14,5
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,4,0,4,171,215,14,6

In [ ]:
second_innings_final['current_Score'] = second_innings_final.groupby('match_number')['total_run_y'].cumsum()
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,159,215,14,2
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,160,215,14,3
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,161,215,14,4
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,6,0,6,167,215,14,5
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,4,0,4,171,215,14,6

In [ ]:
second_innings_final['runs_left'] = second_innings_final['max_total_run_x'] - second_innings_final['current_Score']
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls,runs_left
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1,179
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2,179
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3,179
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4,178
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5,176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,159,215,14,2,56
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,160,215,14,3,55
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,161,215,14,4,54
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,6,0,6,167,215,14,5,48
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,4,0,4,171,215,14,6,44

In [ ]:
second_innings_final['balls_left'] = 126 - (second_innings_final['over']*6 +second_innings_final['balls'])
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls,runs_left,balls_left
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1,179,125
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2,179,124
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3,179,123
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4,178,122
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,NaN,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5,176,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,159,215,14,2,56,40
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,160,215,14,3,55,39
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,1,0,1,161,215,14,4,54,38
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,6,0,6,167,215,14,5,48,37
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,NaN,Chennai Super Kings,Gujarat Titans,4,0,4,171,215,14,6,44,36

In [ ]:
second_innings_final.columns

Index(['match_number', 'city', 'winner', 'team1', 'team2', 'match_id',
       'innings', 'player_dismissed', 'batting_team', 'bowling_team',
       'runs_off_bat', 'extras', 'total_run_y', 'current_Score',
       'max_total_run_x', 'over', 'balls', 'runs_left', 'balls_left'],
      dtype='object')

In [ ]:
# Select the columns of interest
columns_to_check = ['current_Score', 'runs_left', 'balls_left']

# Check how many values in each column are negative
negative_counts = second_innings_final[columns_to_check].lt(0).sum()

# Display the counts
print("Number of negative values in each column:")
print(negative_counts)

Number of negative values in each column:
current_Score     0
runs_left        17
balls_left        0
dtype: int64

In [ ]:
second_innings_final['player_dismissed'] = second_innings_final['player_dismissed'].fillna("0")
second_innings_final['player_dismissed'] = second_innings_final['player_dismissed'].apply(lambda x:x if x=="0" else "1")
second_innings_final['player_dismissed'] = second_innings_final['player_dismissed'].astype('int')
second_innings_final.head(50)

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls,runs_left,balls_left
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1,179,125
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2,179,124
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3,179,123
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4,178,122
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5,176,121
5,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,3,179,0,6,176,120
6,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,9,179,1,1,170,119
7,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,13,179,1,2,166,118
8,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,14,179,1,3,165,117
9,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,14,179,1,4,165,116
10,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,18,179,1,5,161,115
11,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,18,179,1,6,161,114
12,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,19,179,2,1,160,113
13,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,20,179,2,2,159,112
14,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,21,179,2,3,158,111
15,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,22,179,2,4,157,110
16,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,28,179,2,5,151,109
17,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,29,179,2,6,150,108
18,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,29,179,3,1,150,107
19,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,30,179,3,2,149,106
20,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,31,179,3,3,148,105
21,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,35,179,3,4,144,104
22,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,36,179,3,5,143,103
23,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,37,179,3,6,142,102
24,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,1,Gujarat Titans,Chennai Super Kings,0,0,0,37,179,3,7,142,101
25,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,41,179,3,8,138,100
26,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,45,179,4,1,134,101
27,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,46,179,4,2,133,100
28,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,1,2,48,179,4,3,131,99
29,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,54,179,4,4,125,98
30,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,54,179,4,5,125,97
31,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,55,179,4,6,124,96
32,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,56,179,4,7,123,95
33,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,1,123,95
34,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,2,123,94
35,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,3,123,93
36,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,60,179,5,4,119,92
37,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,61,179,5,5,118,91
38,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,65,179,5,6,114,90
39,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,66,179,6,1,113,89
40,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,68,179,6,2,111,88
41,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,68,179,6,3,111,87
42,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,69,179,6,4,110,86
43,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,69,179,6,5,110,85
44,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,71,179,6,6,108,84
45,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,71,179,7,1,108,83
46,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,72,179,7,2,107,82
47,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,76,179,7,3,103,81
48,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,77,179,7,4,102,80
49,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,81,179,7,5,98,79

In [ ]:
test = second_innings_final['player_dismissed']
print(test)

0       1
1       1
2       1
3       1
4       1
       ..
8616    1
8617    1
8618    1
8619    1
8620    1
Name: player_dismissed, Length: 8621, dtype: int32

In [ ]:
wickets = second_innings_final.groupby('match_number')['player_dismissed'].cumsum()
second_innings_final.head(50)

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls,runs_left,balls_left
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1,179,125
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2,179,124
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3,179,123
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4,178,122
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5,176,121
5,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,3,179,0,6,176,120
6,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,9,179,1,1,170,119
7,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,13,179,1,2,166,118
8,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,14,179,1,3,165,117
9,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,14,179,1,4,165,116
10,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,18,179,1,5,161,115
11,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,18,179,1,6,161,114
12,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,19,179,2,1,160,113
13,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,20,179,2,2,159,112
14,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,21,179,2,3,158,111
15,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,22,179,2,4,157,110
16,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,28,179,2,5,151,109
17,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,29,179,2,6,150,108
18,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,29,179,3,1,150,107
19,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,30,179,3,2,149,106
20,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,31,179,3,3,148,105
21,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,35,179,3,4,144,104
22,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,36,179,3,5,143,103
23,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,37,179,3,6,142,102
24,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,1,Gujarat Titans,Chennai Super Kings,0,0,0,37,179,3,7,142,101
25,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,41,179,3,8,138,100
26,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,45,179,4,1,134,101
27,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,46,179,4,2,133,100
28,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,1,2,48,179,4,3,131,99
29,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,54,179,4,4,125,98
30,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,54,179,4,5,125,97
31,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,55,179,4,6,124,96
32,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,56,179,4,7,123,95
33,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,1,123,95
34,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,2,123,94
35,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,3,123,93
36,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,60,179,5,4,119,92
37,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,61,179,5,5,118,91
38,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,65,179,5,6,114,90
39,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,66,179,6,1,113,89
40,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,68,179,6,2,111,88
41,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,68,179,6,3,111,87
42,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,69,179,6,4,110,86
43,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,69,179,6,5,110,85
44,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,71,179,6,6,108,84
45,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,71,179,7,1,108,83
46,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,72,179,7,2,107,82
47,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,76,179,7,3,103,81
48,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,77,179,7,4,102,80
49,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,81,179,7,5,98,79

In [ ]:
second_innings_final['wickets_remaining'] = 10-wickets
second_innings_final.head(50)

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls,runs_left,balls_left,wickets_remaining
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1,179,125,10
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2,179,124,10
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3,179,123,10
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4,178,122,10
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5,176,121,10
5,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,3,179,0,6,176,120,10
6,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,9,179,1,1,170,119,10
7,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,13,179,1,2,166,118,10
8,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,14,179,1,3,165,117,10
9,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,14,179,1,4,165,116,10
10,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,18,179,1,5,161,115,10
11,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,18,179,1,6,161,114,10
12,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,19,179,2,1,160,113,10
13,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,20,179,2,2,159,112,10
14,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,21,179,2,3,158,111,10
15,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,22,179,2,4,157,110,10
16,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,28,179,2,5,151,109,10
17,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,29,179,2,6,150,108,10
18,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,29,179,3,1,150,107,10
19,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,30,179,3,2,149,106,10
20,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,31,179,3,3,148,105,10
21,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,35,179,3,4,144,104,10
22,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,36,179,3,5,143,103,10
23,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,37,179,3,6,142,102,10
24,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,1,Gujarat Titans,Chennai Super Kings,0,0,0,37,179,3,7,142,101,9
25,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,41,179,3,8,138,100,9
26,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,45,179,4,1,134,101,9
27,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,46,179,4,2,133,100,9
28,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,1,2,48,179,4,3,131,99,9
29,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,6,0,6,54,179,4,4,125,98,9
30,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,54,179,4,5,125,97,9
31,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,55,179,4,6,124,96,9
32,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,56,179,4,7,123,95,9
33,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,1,123,95,9
34,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,2,123,94,9
35,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,56,179,5,3,123,93,9
36,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,60,179,5,4,119,92,9
37,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,61,179,5,5,118,91,9
38,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,65,179,5,6,114,90,9
39,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,66,179,6,1,113,89,9
40,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,68,179,6,2,111,88,9
41,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,68,179,6,3,111,87,9
42,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,1,1,69,179,6,4,110,86,9
43,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,69,179,6,5,110,85,9
44,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,71,179,6,6,108,84,9
45,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,71,179,7,1,108,83,9
46,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,72,179,7,2,107,82,9
47,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,76,179,7,3,103,81,9
48,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,77,179,7,4,102,80,9
49,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,4,0,4,81,179,7,5,98,79,9

In [ ]:
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,runs_off_bat,extras,total_run_y,current_Score,max_total_run_x,over,balls,runs_left,balls_left,wickets_remaining
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,1,179,125,10
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,2,179,124,10
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,0,0,0,0,179,0,3,179,123,10
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,1,0,1,1,179,0,4,178,122,10
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,2,0,2,3,179,0,5,176,121,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,1,0,1,159,215,14,2,56,40,5
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,1,0,1,160,215,14,3,55,39,5
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,1,0,1,161,215,14,4,54,38,5
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,6,0,6,167,215,14,5,48,37,5
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,4,0,4,171,215,14,6,44,36,5

In [ ]:
second_innings_final['crr'] = round((second_innings_final['current_Score']*6)/(120 - second_innings_final['balls_left']),2)
second_innings_final['rrr'] = round((second_innings_final['runs_left']*6)/(second_innings_final['balls_left']),2)
second_innings_final

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,...,total_run_y,current_Score,max_total_run_x,over,balls,runs_left,balls_left,wickets_remaining,crr,rrr
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,0,0,179,0,1,179,125,10,-0.00,8.59
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,0,0,179,0,2,179,124,10,-0.00,8.66
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,0,0,179,0,3,179,123,10,-0.00,8.73
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,1,1,179,0,4,178,122,10,-3.00,8.75
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,2,3,179,0,5,176,121,10,-18.00,8.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,...,1,159,215,14,2,56,40,5,11.92,8.40
8617,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,...,1,160,215,14,3,55,39,5,11.85,8.46
8618,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,...,1,161,215,14,4,54,38,5,11.78,8.53
8619,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,...,6,167,215,14,5,48,37,5,12.07,7.78
8620,74,Ahmedabad,Chennai Super Kings,Gujarat Titans,Chennai Super Kings,1370353,2,0,Chennai Super Kings,Gujarat Titans,...,4,171,215,14,6,44,36,5,12.21,7.33

In [ ]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0

In [ ]:
second_innings_final['results'] = second_innings_final.apply(winner,axis=1)
second_innings_final.head()

,match_number,city,winner,team1,team2,match_id,innings,player_dismissed,batting_team,bowling_team,...,current_Score,max_total_run_x,over,balls,runs_left,balls_left,wickets_remaining,crr,rrr,results
0,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,0,179,0,1,179,125,10,-0.0,8.59,1
1,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,0,179,0,2,179,124,10,-0.0,8.66,1
2,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,0,179,0,3,179,123,10,-0.0,8.73,1
3,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,1,179,0,4,178,122,10,-3.0,8.75,1
4,1,Ahmedabad,Gujarat Titans,Chennai Super Kings,Gujarat Titans,1359475,2,0,Gujarat Titans,Chennai Super Kings,...,3,179,0,5,176,121,10,-18.0,8.73,1

In [ ]:
required_data = second_innings_final[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','max_total_run_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,max_total_run_x,crr,rrr,results
0,Gujarat Titans,Chennai Super Kings,Ahmedabad,179,125,10,179,-0.00,8.59,1
1,Gujarat Titans,Chennai Super Kings,Ahmedabad,179,124,10,179,-0.00,8.66,1
2,Gujarat Titans,Chennai Super Kings,Ahmedabad,179,123,10,179,-0.00,8.73,1
3,Gujarat Titans,Chennai Super Kings,Ahmedabad,178,122,10,179,-3.00,8.75,1
4,Gujarat Titans,Chennai Super Kings,Ahmedabad,176,121,10,179,-18.00,8.73,1
...,...,...,...,...,...,...,...,...,...,...
8616,Chennai Super Kings,Gujarat Titans,Ahmedabad,56,40,5,215,11.92,8.40,1
8617,Chennai Super Kings,Gujarat Titans,Ahmedabad,55,39,5,215,11.85,8.46,1
8618,Chennai Super Kings,Gujarat Titans,Ahmedabad,54,38,5,215,11.78,8.53,1
8619,Chennai Super Kings,Gujarat Titans,Ahmedabad,48,37,5,215,12.07,7.78,1
8620,Chennai Super Kings,Gujarat Titans,Ahmedabad,44,36,5,215,12.21,7.33,1

In [ ]:
required_data = required_data.replace([np.inf, -np.inf], np.nan)
required_data = required_data.dropna()

In [ ]:
required_data = required_data[required_data['crr'] >= 0]

In [ ]:
columns_to_check = ['runs_left', 'balls_left', 'wickets_remaining', 'max_total_run_x', 'crr', 'rrr', 'results']

required_data = required_data[~(required_data[columns_to_check] < 0).any(axis=1)]

In [ ]:
numeric = required_data[['runs_left', 'balls_left', 'wickets_remaining', 'max_total_run_x', 'crr', 'rrr', 'results']]
has_infinite_values = np.any(np.isinf(numeric))

# Check for negative values in the entire DataFrame
has_negative_values = (numeric < 0).any().any()

# Check for null values in the entire DataFrame
has_null_values = numeric.isnull().any().any()

# Display the results
print(f"Has Infinite Values: {has_infinite_values}")
print(f"Has Negative Values: {has_negative_values}")
print(f"Has Null Values: {has_null_values}")

Has Infinite Values: False
Has Negative Values: False
Has Null Values: False

In [ ]:
required_data.to_csv("eda_data_2023.csv", index=False)

In [ ]:
required_data.head(2)

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,max_total_run_x,crr,rrr,results
0,Gujarat Titans,Chennai Super Kings,Ahmedabad,179,125,10,179,-0.0,8.59,1
1,Gujarat Titans,Chennai Super Kings,Ahmedabad,179,124,10,179,-0.0,8.66,1